@model ProyectoFinalPAII.Models.Libros

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Libros</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LibrosName" class="control-label"></label>
                <input asp-for="LibrosName" class="form-control" />
                <span asp-validation-for="LibrosName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorId" class="control-label"></label>
                <select asp-for="AutorId" class ="form-control" asp-items="ViewBag.AutorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EditorialId" class="control-label"></label>
                <select asp-for="EditorialId" class ="form-control" asp-items="ViewBag.EditorialId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaLanzamiento" class="control-label"></label>
                <input asp-for="FechaLanzamiento" class="form-control" />
                <span asp-validation-for="FechaLanzamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
